
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*elementos base*/

@fontface{
	font-family: 'Bebas-neue';
	src: url("../fonts/bebas-neue.ttf");
}


body{
	background: gray;

}

header{
	background:black;
	padding: 3px 0;
}

.center{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 auto;
}

.clear{clear:both;}

.menu-header{
	position:relative;
	top:25px;
	display: inline-block;
	margin-left: 10px;
}

.menu-header li{
	display: inline-block;
	margin-right: 10px;
}

.menu-header a{
	color: white;
	text-decoration: none;
}

.header-logo{
	float: left;	
}

.header-logo img{
	max-width: 120px;
}

.header-right{
	float: right;
}

.search,
.notifications{
	display: inline-block;
}

.notifications{
	position: relative;
}

.circle-notifications{
	position: absolute;
	left: 0;
	top: 0;
	width: -20px;
	height: -20px;
	border-radius:-20px;
	background:#e50914;
}

.header-right i{
	margin: 0 10px;
	cursor: pointer;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

.header-right a{
	color: white;
	text-decoration: none;
}

/*filme principal*/

.filme-principal{
	font-size: 16px;
	background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(../img/vikings.jpg);
	height: 500px;
	background-size: cover;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: white;
}

.filme-principal .descricao{
	margin-top: 10px;
	margin-bottom: 40px;
}

.filme-principal .titulo{
	margin-top: 15px;
	font-size: 40px;
	font-family: 'Trebuchet MS', Times;
}

.botao{
	background-color: rgba(0,0,0,.50);
	border: none;
	color: #FFFFFF;
	padding: 15px 30px;
	margin-right: 15px;
	text-shadow: 0.1px 0.1px black;
	font-size: 12px;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 3px;
}

.botao:hover{
	background-color: white;
	color: black;
	border-radius: 3px;
}

.botao i{
	margin-right: 8px;
}

.container{
	margin-left: 20px;
}

.filme-principal .container{
	width: 70%;
}

.box-filme{
	height: 100%;
	width: 100%;
	display: block;
}

.carrossel-filmes{
	margin-top: 5px;
}



